In [1]:
import pandas as pd
from models import *
import dateutil.parser
from sqlalchemy.sql import func
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, joinedload, aliased
import matplotlib as plt
from math import isnan
import seaborn as sns
from secretstuff import connection_string

halibut_days = ['2018-05-11','2018-05-13', '2018-05-25', '2018-05-27', '2018-06-07', '2018-06-09',
                '2018-06-16', '2018-06-21', '2018-06-23', '2018-06-30']
catch_area = '06'
locations = ['1187', '1041', '1186', '1107']
out_folder = ''
sns.set_style('darkgrid')

#this is aerial so stick to convention and use .99999

site_weights = .9999

%matplotlib inline

In [2]:
engine = create_engine(connection_string)
session = sessionmaker()
session.configure(bind=engine)
s = session()
catch_sql = s.query(func.to_char(Survey.survey_datetime, 'YYYY-MM-DD').label('date'),
                  SpeciesLUT.common_name,
                  SpeciesLUT.species_code,
                  CatchResult.catch_result_type_code,
                  CatchArea.catch_area_code,
                  FishEncounter.fish_count)\
                 .join(SurveyEvent)\
                 .join(FishingMethod)\
                 .join(FishEncounter)\
                 .join(CatchArea)\
                 .join(CatchResult)\
                 .join(SpeciesLUT)\
                 .join(Location, Survey.location_id == Location.location_id)\
                 .filter(Survey.survey_type_id == 'a1c68f6d-dcfe-4b86-a00d-d8fab7057e2e')\
                 .filter(Survey.survey_datetime.in_(halibut_days))\
                 .filter(SurveyEvent.void_encounter_indicator == False)\
                 .filter(CatchArea.catch_area_code == catch_area)\
                 .filter(Location.location_code.in_(locations))\
                 .filter(SurveyEvent.uncooperative_angler_indicator == False)\
                 .filter(FishingMethod.fishing_method_short_description.in_(['Kicker angler','Charter angler']))


effort_sql = s.query(func.to_char(Survey.survey_datetime, 'YYYY-MM-DD').label('date'),
                  SurveyEvent.angler_count,
                  CatchArea.catch_area_code)\
                 .join(SurveyEvent)\
                 .join(FishingMethod)\
                 .join(CatchArea)\
                 .join(Location, Survey.location_id == Location.location_id)\
                 .filter(Survey.survey_type_id == 'a1c68f6d-dcfe-4b86-a00d-d8fab7057e2e')\
                 .filter(Survey.survey_datetime.in_(halibut_days))\
                 .filter(SurveyEvent.void_encounter_indicator == False)\
                 .filter(CatchArea.catch_area_code == catch_area)\
                 .filter(Location.location_code.in_(locations))\
                 .filter(SurveyEvent.uncooperative_angler_indicator == False)\
                 .filter(FishingMethod.fishing_method_short_description.in_(['Kicker angler','Charter angler']))


flights_sql = s.query(func.to_char(Survey.survey_datetime, 'YYYY-MM-DD').label('date'),
                      CatchArea.catch_area_code,
                      Survey.start_datetime,
                      Survey.end_datetime,
                      func.sum(BoatEncounter.boat_count).label('total_boats'))\
                      .join(SurveyEvent)\
                      .join(CatchArea)\
                      .join(BoatEncounter)\
                      .filter(Survey.survey_type_id == 'c29b9752-6c0e-4e45-9eac-5e450dd10dcc')\
                      .filter(func.to_char(Survey.survey_datetime, 'YYYY-MM-DD').in_(halibut_days))\
                      .filter(CatchArea.catch_area_code == catch_area)\
                      .filter(SurveyEvent.void_encounter_indicator == False)\
                    .group_by(Survey.survey_datetime, CatchArea.catch_area_code, Survey.start_datetime, Survey.end_datetime)\
                    .order_by(Survey.survey_datetime)


boats_sql = s.query(func.to_char(Survey.survey_datetime, 'YYYY-MM-DD').label('date'),
                      SurveyEvent.encounter_number,
                      SurveyEvent.survey_event_id,
                      DocksideEncounter.trip_start_datetime,
                      DocksideEncounter.trip_end_datetime,
                      FishingMethod.fishing_method_short_description,
                      CatchArea.catch_area_code)\
                     .join(SurveyEvent)\
                     .join(DocksideEncounter)\
                     .join(FishingMethod)\
                     .join(CatchArea)\
                     .filter(Survey.survey_type_id == 'a1c68f6d-dcfe-4b86-a00d-d8fab7057e2e')\
                     .filter(Survey.survey_datetime.in_(halibut_days))\
                     .filter(CatchArea.catch_area_code == catch_area)\
                     .filter(SurveyEvent.void_encounter_indicator == False)\
                     .filter(FishingMethod.fishing_method_short_description.in_(['Kicker angler','Charter angler', 'Not applicable']))\
                     .filter(DocksideEncounter.trip_start_datetime.isnot(None))\
                     .filter(DocksideEncounter.trip_end_datetime.isnot(None))\

                             
fish = pd.read_sql(sql=catch_sql.statement, con=s.bind)
flights = pd.read_sql(sql=flights_sql.statement, con=s.bind)
boats = pd.read_sql(sql=boats_sql.statement, con=s.bind)
effort = pd.read_sql(sql=effort_sql.statement, con=s.bind)
                             
s.close()

In [3]:
#prep the biological data by aggregating a melting it
### FISH ###
#sum by species, date, kept/released 
fish = fish.groupby(['date','common_name', 'species_code',
                     'catch_result_type_code','catch_area_code'], as_index=False)['fish_count'].sum()
### EFFORT ###
#counts the boats and sums the effort, then melts the columns to provide or vertical dataframe
anglers = effort.groupby(['date', 'catch_area_code']).agg({'angler_count': ['count','sum']})['angler_count'][['count','sum']].reset_index()
anglers.rename(columns={'count':'boats', 'sum':'anglers'}, inplace=True)
anglers_vert = anglers.melt(id_vars=['date', 'catch_area_code'], value_vars=['boats','anglers'], value_name='count')
anglers_vert['catch_result_type_code'] = 'NA'

In [4]:
#AERIAL
#merge the flights, [fishing] boats dataframes
aerial = pd.merge(flights, boats)

In [5]:
#filter by flight time, identifies boats that were fishing during the flight
# 1. if the trip start time is between the start and end of the flight in the area
# 2. if the trip end time is between the start and end of the flight in the area
# 3. if the trip start time is before the start of the flight, and the trip end time
#    is after the end of the flight
aerial_mask = ((aerial['trip_start_datetime'] >= aerial['start_datetime']) & \
                    (aerial['trip_start_datetime'] <= aerial['end_datetime'])) | \
                    ((aerial['trip_end_datetime'] >= aerial['start_datetime']) & \
                    (aerial['trip_end_datetime'] <= aerial['end_datetime'])) | \
                    ((aerial['trip_start_datetime'] <= aerial['start_datetime']) & \
                    (aerial['trip_end_datetime'] >= aerial['end_datetime']))
boats_on_water = aerial.loc[aerial_mask]
#save the boats not fishing for later
#WRITE SAVE HERE
boats_off_water = aerial.loc[~aerial_mask]

In [6]:
#recreate the aerial estimation sheet
aerial_sheet = boats_on_water.groupby(['date','catch_area_code','total_boats'], as_index=False)['encounter_number'].count()
aerial_sheet['proportion'] = aerial_sheet['encounter_number'] / aerial_sheet['total_boats']
#WRITE SAVE HERE FOR NOT USED SURVEYS
#remove the proportions where we sampled more boats that were seen in the air
aerial_sheet = aerial_sheet.loc[aerial_sheet['proportion'] < 1]
#calculate the squared deviation (used for the variance)
aerial_sheet['sqdev'] = (aerial_sheet['proportion'] - aerial_sheet['proportion'].mean()) ** 2
#WRITE SAVE HERE
#store the variance and proportion for use in estimation
adjProp = aerial_sheet['proportion'].mean()
adjVar = aerial_sheet['sqdev'].mean()

In [7]:
fish.rename(columns={'fish_count': 'count', 'common_name': 'variable'}, inplace=True)
fish = fish.append(anglers_vert,ignore_index=True, sort=False)

In [8]:
#INITIATE COMPLEX MATHS
#estimate
fish['est'] = (1/(2-site_weights-site_weights)) * \
(((fish['count']/site_weights) * (1-site_weights)) + ((fish['count'] / site_weights) * (1-site_weights)))
#calculate variance for estimation
fish['estPrp'] = fish['est'] / adjProp 
fish['est.v'] = (((1-site_weights) * (1-site_weights) * (1-site_weights - site_weights)) / \
            ((2-site_weights - site_weights)**2)) * \
            (((fish['count']/site_weights) - (fish['count'] / site_weights)))**2
fish['estPrp.v'] = (fish['estPrp']**2) * ((fish['est.v'] / fish['est'] **2) + \
               (adjVar / adjProp**2))

In [9]:
fish

,date,variable,species_code,catch_result_type_code,catch_area_code,count,est,estPrp,est.v,estPrp.v
0,2018-05-11,Big skate,287,R,06,2,2.000200,2.519999,-0.0,0.121896
1,2018-05-11,China rockfish,263,R,06,2,2.000200,2.519999,-0.0,0.121896
2,2018-05-11,Copper rockfish,272,R,06,1,1.000100,1.259999,-0.0,0.030474
3,2018-05-11,Flatfish-general,200,R,06,2,2.000200,2.519999,-0.0,0.121896
4,2018-05-11,Great sculpin,295,R,06,1,1.000100,1.259999,-0.0,0.030474
5,2018-05-11,Lingcod,231,K,06,1,1.000100,1.259999,-0.0,0.030474
6,2018-05-11,Lingcod,231,R,06,5,5.000500,6.299997,-0.0,0.761848
7,2018-05-11,Pacific cod,241,R,06,1,1.000100,1.259999,-0.0,0.030474
8,2018-05-11,Pacific halibut,201,K,06,109,109.010901,137.339935,-0.0,362.060537
9,2018-05-11,Pacific halibut,201,R,06,5,5.000500,6.299997,-0.0,0.761848
10,2018-05-11,Quillback rockfish,277,R,06,5,5.000500,6.299997,-0.0,0.761848
11,2018-05-11,Ratfish,298,R,06,4,4.000400,5.039998,-0.0,0.487583
12,2018-05-11,Red Irish Lord,293,R,06,5,5.000500,6.299997,-0.0,0.761848
13,2018-05-11,Rockfish-general,251,R,06,3,3.000300,3.779998,-0.0,0.274265
14,2018-05-11,Sculpins-general,290,R,06,7,7.000700,8.819996,-0.0,1.493222
15,2018-05-11,Speckled sanddab,214,K,06,1,1.000100,1.259999,-0.0,0.030474
16,2018-05-11,Spiny dogfish,283,R,06,48,48.004800,60.479972,-0.0,70.211891
17,2018-05-11,Starry flounder,212,R,06,5,5.000500,6.299997,-0.0,0.761848
18,2018-05-13,Big skate,287,R,06,4,4.000400,5.039998,-0.0,0.487583
19,2018-05-13,Black rockfish,252,R,06,2,2.000200,2.519999,-0.0,0.121896
20,2018-05-13,Cabezon,291,K,06,1,1.000100,1.259999,-0.0,0.030474
21,2018-05-13,Cabezon,291,R,06,2,2.000200,2.519999,-0.0,0.121896
22,2018-05-13,Copper rockfish,272,R,06,14,14.001400,17.639992,-0.0,5.972887
23,2018-05-13,Kelp greenling,232,K,06,4,4.000400,5.039998,-0.0,0.487583
24,2018-05-13,Lingcod,231,K,06,10,10.001000,12.599994,-0.0,3.047391
25,2018-05-13,Lingcod,231,R,06,41,41.004100,51.659976,-0.0,51.226644
26,2018-05-13,Longnose skate,286,R,06,1,1.000100,1.259999,-0.0,0.030474
27,2018-05-13,Pacific halibut,201,K,06,83,83.008301,104.579951,-0.0,209.934773
28,2018-05-13,Pacific sanddab,215,R,06,1,1.000100,1.259999,-0.0,0.030474
29,2018-05-13,Quillback rockfish,277,R,06,28,28.002800,35.279983,-0.0,23.891546
...,...,...,...,...,...,...,...,...,...,...
103,2018-06-23,Pacific Staghorn sculpin,294,R,06,1,1.000100,1.259999,-0.0,0.030474
104,2018-06-23,Pacific halibut,201,K,06,20,20.002000,25.199988,-0.0,12.189564
105,2018-06-23,Pacific halibut,201,R,06,10,10.001000,12.599994,-0.0,3.047391
106,2018-06-23,Pacific sanddab,215,K,06,7,7.000700,8.819996,-0.0,1.493222
107,2018-06-23,Spiny dogfish,283,K,06,7,7.000700,8.819996,-0.0,1.493222
108,2018-06-23,Spiny dogfish,283,R,06,708,708.070807,892.079581,-0.0,15275.474522
109,2018-06-23,Starry flounder,212,R,06,1,1.000100,1.259999,-0.0,0.030474
110,2018-06-30,Big skate,287,R,06,1,1.000100,1.259999,-0.0,0.030474
111,2018-06-30,Pacific halibut,201,K,06,13,13.001300,16.379992,-0.0,5.150091
112,2018-06-30,Spiny dogfish,283,R,06,524,524.052405,660.239690,-0.0,8367.404586
113,2018-05-11,boats,NaN,NA,06,305,305.030503,384.299820,-0.0,2834.835571
114,2018-05-13,boats,NaN,NA,06,378,378.037804,476.279776,-0.0,4354.234299
115,2018-05-25,boats,NaN,NA,06,81,81.008101,102.059952,-0.0,199.939330
116,2018-05-27,boats,NaN,NA,06,244,244.024402,307.439856,-0.0,1814.294765
117,2018-06-07,boats,NaN,NA,06,230,230.023002,289.799864,-0.0,1612.069892
118,2018-06-09,boats,NaN,NA,06,161,161.016102,202.859905,-0.0,789.914247
119,2018-06-16,boats,NaN,NA,06,152,152.015202,191.519910,-0.0,704.069240
120,2018-06-21,boats,NaN,NA,06,82,82.008201,103.319951,-0.0,204.906578
121,2018-06-23,boats,NaN,NA,06,103,103.010301,129.779939,-0.0,323.297722
122,2018-06-30,boats,NaN,NA,06,79,79.007901,99.539953,-0.0,190.187679
123,2018-05-11,anglers,NaN,NA,06,741,741.074107,933.659562,-0.0,16732.645524
124,2018-05-13,anglers,NaN,NA,06,890,890.089009,1121.399473,-0.0,24138.384901
125,2018-05-25,anglers,NaN,NA,06,188,188.018802,236.879889,-0.0,1077.069910
126,2018-05-27,anglers,NaN,NA,06,577,577.057706,727.019659,-0.0,10145.648715
127,2018-06-07,anglers,NaN,NA,06,519,519.051905,653.939693,-0.0,8208.483140
128,2018-06-09,anglers,NaN,NA,06,384,384.038404,483.839773,-0.0,4493.561020
129,2018-06-16,anglers,NaN,NA,06,355,355.035504,447.299790,-0.0,3840.474633
130,2018-06-21,anglers,NaN,NA,06,172,172.017202,216.719898,-0.0,901.540183
131,2018-06-23,anglers,NaN,NA,06,229,229.022902,288.539864,-0.0,1598.082367
132,2018-06-30,anglers,NaN,NA,06,175,175.017502,220.499896,-0.0,933.263524